# Node artifacts
node_modules/
.pnpm-store/
pnpm-lock.yaml
npm-debug.log*
yarn.lock

# Build outputs
out/
dist/
build/
release/
coverage/

# TypeScript
*.tsbuildinfo

# IDEs
.vscode/
.idea/
*.iml

# Logs
logs/
*.log
npm-debug.log*

# Environment / local config
.env
.env.*.local

# Misc
.DS_Store
Thumbs.db
.temp/
